.border-black {
    border: 1px solid #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: 100%; */
    font-family: "Volkhov", serif;
    width: 100%;
    height: 100vh;
}

.heroSection {
    background-color: #FEFCFB;
    /* width:100%; */
    margin:0rem auto;
}

.navMenu {
    width:80%;
    margin:0rem auto;
    
}

.menuBar {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin:2rem auto;
    flex-basis: 100%;
    /* max-height: 3.125rem;  */
    align-items: center;
}

.logo-menu-login {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* max-width:8.125rem;
max-height:1.5rem; */
}

.logo img {
    margin-left: 0.75rem;
}

.logo h2 {
    font-size: 1.5rem;
}

.menu-list {
    /* width:20%; */
    display: flex;
    flex-direction: row;
     flex-basis: 100%; 
    justify-content: space-between;
    max-width: 24.125rem;
    /*max-height:1.5rem; */
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    margin-left: 1.75rem;
    font-family: "Poppins", sans-serif;
}

.menu-list a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
}

.login {
    margin-right: 4.75rem;
    font-family: "Poppins", sans-serif;
}

.login a {
    text-decoration: none;
    color: black;
    color: #FD8D3A;
}

.content-box {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 0rem auto; */
   
}

.content {
    /* margin-top:6rem;
margin-left:9.75rem;
margin-right:1.25rem;
max-width:32.8rem;
max-height: 30.375rem;
*/
    margin-left:9rem;
    margin-top: 6rem;
    width: 35%;

}

.content h1 {
    font-size: 4rem;
    line-height: 4.375rem;
    /* max-width:32.5625rem;
margin-bottom:2rem;
max-height:13.125rem;  */
}

.content p {
    color: #666666;
    font-size: 1.25rem;
    margin-top: 2rem;
    line-height: 2.5rem;
    font-family: "Poppins", sans-serif;
    /* max-width: 31.0625rem;
max-height:7.5rem;  */
}

.content img {
    margin-top: 4rem;

}

.content span {
    color: #FA7436;
    font-size: 4rem;
}

.image {
    /* max-width:49.0625rem;
max-height:36.5625rem;
margin-top:0; */
    padding-left: 3rem;
    /* width:30%; */

}

.searchBar {
    background-color:#FFFFFF;
    width: 58%;
    margin: 3.5rem auto;
    border-radius: 0.5rem;
    font-family: "Poppins", sans-serif;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

.searchBar-content {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
    /* margin:auto; */
}

.searchBar-content-menus {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.6rem;


}

.searchBar-content-menus p {
    font-size: 0.75rem;
    color: #666666;
}

.thingsYouNeed {
    background-color: #F7F8FC;
    width:100%;
}

.thingsYouNeed-content-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.thingsYouNeed-content-element {
    width: 100%;
    margin-top: 7.5rem;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: row;
    justify-content:end;  

}

.thingsYouNeed-signUp-money-travel {
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    margin-top: 4rem;
    flex-direction: row;
    /* flex:1;
    width:25%; */
    /* margin-left: auto;
    margin-right: auto; */
    flex-basis: 100%; 
    justify-content: space-around; 
    /* margin-top:4rem auto; */
    gap: 1rem;
    padding: 1rem;
   


}

 .thingsYouNeed-content{
    
    /* margin-top:7.5rem auto; */
    width:44%;
     /* margin-left: 8rem;  */
    
} 
.thingsYouNeed-content h6 {
    /* margin: auto; */
    /* max-width: 40%; */
    font-size: 3rem;
    color: #222;
    margin-bottom:1.5rem;
}

.thingsYouNeed-content h6 span {
    font-size: 3rem;
    color: #FA7436;
    text-align: center;
}

.thingsYouNeed-content p {
    font-size: 1.125rem;
    color: #666666;
    font-family: "Poppins", sans-serif;
    /* margin-left:auto;*/
     /* margin-left:2rem;   */
     text-align: center;
    /* margin-top:1.5rem;
     */
}

.thingsYouNeed-element img{
 margin:0rem 4.5rem;
}

.thingsYouNeed-signUp {
    border-radius: 0.5rem;
    padding: 2.5rem;
    margin-bottom: 7.5rem;
    font-family: "Poppins", sans-serif;
    background-color:#FFFFFF;
    -webkit-box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);
box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);
}
.thingsYouNeed-signUp img{
   
    margin-bottom:1rem;
    
}
.thingsYouNeed-signUp h6{
    font-size: 1.5rem;
    margin-bottom:1rem;
    
}
.thingsYouNeed-signUp p{
   font-size: 1rem;
   color:#666666;
}
/* .thingsYouNeed-signUp h6 p{
    margin-top:1rem;
    
} */
.thingsYouNeed-money {
    border-radius: 0.5rem;
    background-color:#FFFFFF;
    /* margin-top:1rem; */
    padding: 2.5rem;
    margin-bottom: 7.5rem;
    font-family: "Poppins", sans-serif;
    /* line-height:1rem; */
    -webkit-box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);
box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);

}
.thingsYouNeed-money img{
   
   margin-bottom:1rem;
   
}
.thingsYouNeed-money h6{
   font-size: 1.5rem;
   margin-bottom:1rem;
}
.thingsYouNeed-money p{
  font-size: 1rem;
  color:#666666;
}

.thingsYouNeed-travel {
    border-radius: 0.5rem;
    background-color:#FFFFFF;
    /* margin-top:1rem; */
    padding: 2.5rem;
    margin-bottom: 7.5rem;
    font-family: "Poppins", sans-serif;
    /* line-height:1rem; */
    -webkit-box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);
box-shadow: 0.75px 1.5px 4.5px 0px rgba(0,0,0,0.6);

}
.thingsYouNeed-travel img{
   
   margin-bottom:1rem;
   
}
.thingsYouNeed-travel h6{
   font-size: 1.5rem;
   margin-bottom:1rem;
}
.thingsYouNeed-travel p{
  font-size: 1rem;
  color:#666666;
  
}


.exclusiveDeals-container {
    background-color: #FEFCFB;
    width:100%
}
.exclusiveDeals-content-box{
    width:80%;
    margin:7.5rem auto;
    display:flex;
    flex-direction:column;
}
.exclusiveDeals-content{
    /* width:100%; */
margin-bottom:4rem;
margin-left:auto;
margin-right:auto;
    align-items:center;
}
.exclusiveDeals-content h6{
    font-size: 3rem;
    color: #FA7436;
    margin-bottom: 1.5rem;
    text-align: center;
}

.exclusiveDeals-content p {
    font-size: 1.125rem;
    color: #666666;
    font-family: "Poppins", sans-serif;
      /* margin-left:6rem;    */
      text-align: center;

}
.exclusiveDeals-cards{
width:100%;
 display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-family: "Poppins", sans-serif;
    font-size:1.5rem;
   
}
.ed-cards{
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    justify-content:space-around;
    /* position:relative; */
    margin:1rem;
    border-radius:1%;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    
}

/* .cards{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
} */
.cards-image{
    /* margin-top: 1.125rem; */
}
    .upperContent{
/* margin-top:1rem; */
padding:1rem;
font-size:2rem;
display:flex;
    flex-direction:row;
    justify-content:space-between;
    }
    

.exclusiveDeals-slider-button{
/* align-items:center; */
margin-top:3rem;
display:flex;
flex-direction:row;
justify-content: center;
}
.bottomImage-1{
    z-index:1;
    position: relative;
}
.bottomImage-2{
    z-index:2;
    position:absolute;
    margin-bottom: 8.5rem;
    /* top:3rem;  */
    /* 0.
    top:2px; */
    /* right:51.3% */
    
}
.bottomImage-3{
    z-index:3;
    position:absolute;
    padding-left:4.5rem;
   
    /* text-align: center;; */
     /* top:2px; */
 /* top:1rem;  */
    /* right:56%; */
    
    /* bottom:1%;  */
   
    /* text-align: center; */
}


    .vacationPlan-container {
    background-color: #FEFCFB;
    width:100%
}
.vacationPlan-content-box{
    width:80%;
    margin:7.5rem auto;
    display:flex;
    flex-direction:column;
}
.vacationPlan-content-element{
    display:flex;
    flex-direction: row;
text-align: center;
justify-content: center;

}
.vacationPlan-element{
    text-align: center;
}
.vacationPlan-content{
    /* width:100%; */
margin-bottom:2rem;
margin-left:auto;
margin-right:auto;
    align-items:center;
    text-align:center;
}
.vacationPlan-content h6{
    font-size: 3rem;
    color: #FA7436;
    margin-bottom: 1.5rem;
}

.vacationPlan-content p {
    font-size: 1.125rem;
    color: #666666;
    font-family: "Poppins", sans-serif;
        

}
.vacationPlan-cards{
width:100%;
 display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-family: "Poppins", sans-serif;
    font-size:1.5rem;
    
}
.cards{
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    justify-content:space-around;
    margin:1rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    
} 
.cards-image{
    margin-top: 1.125rem;
    text-align: center;
}

    .upperContent{
margin-top:1rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    font-size:1.5rem;
    }
   

.vacationPlan-slider-button{
/* align-items:center;  */
margin-top:3rem;
display:flex;
flex-direction:row;
justify-content: center;
}
.vacationPlan-slider-btn{
text-align: end;
}
.blog-container {
    background-color: #FEFCFB;
    width:100%
}
.blog-content-box{
    width:80%;
    margin:7.5rem auto;
    display:flex;
    flex-direction:column;
}
.blog-content{
    /* width:100%; */
margin-bottom:2rem;
margin-left:auto;
margin-right:auto;
    align-items:center;
}
.blog-content h6{
    font-size: 3rem;
    color: #FA7436;
    margin-bottom: 1.5rem;
}
 
 .blog-content p {
    font-size: 1.125rem;
    color: #666666;
    font-family: "Poppins", sans-serif;
      /* margin-left:6rem;    */

} 
.blog-cards{
width:100%;
 display:flex;
    flex-direction:row;
     justify-content:space-around;
    font-family: "Poppins", sans-serif;
    font-size:1.5rem;
  
}
.blog-slider-image{
    margin-top:2rem;
    text-align: center;
    /* justify-content: center;
    margin-left:auto;
margin-right:auto; */
}
.cards{
    /* padding:1rem; */
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
 .cards p{
    font-size: 1.125rem;
    color: #222222;
    font-family: "Poppins", sans-serif;
    margin-top:1.5rem;
} 
.cards span{
    font-size: 1rem;
    color:#999999;
    font-family: "Inter", sans-serif;
    margin-top:1rem;
} 

.peopleAboutUs-container{
    width:100%;
    background-color:#F7F8FC;
    /* position:relative; */
}
.peopleAboutUs-content-box{
    width:80%;
    margin-top:7.5rem ;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
    /* position:relative; */
}
.peopleAboutUs-content{
width:75%;
margin:1rem;
margin-right:4rem;
/* padding: 1rem; */
/* margin-right: 4rem; */
}
.peopleAboutUs-content h6{
font-size: 3rem;
}
.peopleAboutUs-content p{
font-size:1rem;
margin-top:1.5rem;
color: #666666;
font-family: "Roboto", sans-serif;
}
.peopleAboutUs-content img{
    margin-top:2rem;
    }
    .peopleAboutUs-content span{
        color: #FA7436;
        }
.peopleAboutUs-topCard{
    /* display:flex;
    flex-direction:column; */
    font-family: "Poppins", sans-serif;
    font-size:1rem;
    /* position:relative; */
    /* margin:1rem; */
    /* z-index:1;*/
    /* padding:2rem; */
    
}
.peopleAboutUs-profile{
z-index:3; 
margin-right:1rem; 

/* position:relative; */
}

.peopleAboutUs-cards{
    /* position:relative; */
    display:flex;
    flex-direction:column;
    font-family: "Poppins", sans-serif;
    font-size:1rem;
    flex-wrap: wrap;
    Padding:1rem;
    /* justify-content: ;  */
     /* margin-left:5rem;  */
    
}

.peopleAboutUs-topCard{
    width:85%;
    position:relative;
    bottom:2rem;
    padding:2rem;
    z-index:2;
    /* margin-bottom:2rem; */
    margin-left:2rem;
    border-radius:2%;
    background-color:#FFFFFF;
    -webkit-box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.2);
box-shadow: 0px 100px 80px 0px rgba(0,0,0,0.2);
   
}
.peopleAboutUs-bottomCard{
    background-color:#FFFFFF;
    font-size:1rem;
    position:relative;
   bottom:8rem;
    font-family: "Poppins", sans-serif;
    padding:1rem;
    padding-top:6rem;
    width:80%;
    margin-left:6rem;
    z-index:1;
    border-radius:2%;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);

}
.peopleAboutUs-topCard-para{
/* margin:1rem auto;  */
font-family: "Poppins", sans-serif;
font-size: 1rem;
}
.bottomCardName{
    margin-top:1rem;
    font-family: "Poppins", sans-serif;
font-size: 1.125rem;
}
.bottomCard-location{
    font-size: 0.75rem;
    color: #666666;
}
.peopleAboutUs-element{
text-align: end;
z-index:4;
position:relative; 
bottom:3rem;

}

.peopleAboutUs-topCard-name{
     margin-top:1rem; 
     font-family: "Poppins", sans-serif;
font-size: 1.125rem;
    }
    .peopleAboutUs-topCard-location{
        /* margin:0.rem auto;  */
        font-size: 0.75rem;
        color: #666666;
        }
.footer-container{
    width:100%;
    margin:0rem auto;
    background-color:#FEFCFB;
    position:relative;
}
.footer-backGround-orange{
    width:80%; 
    margin-bottom:2rem;
    background-color:#FA7436;
    /* margin:0rem auto;  */
    border-radius:1%;
    position:absolute;
    bottom:45%;
    left:10%;
    z-index:1;

}
.footer-backGround-orange-image{
text-align:end;
}
.footer-backGround-white{
    width:100%;
    background-color:#FEFCFB;
    font-size:5rem;
    text-align: center;
    margin:3rem auto;
    /* margin-bottom:20%; */
}
 .footer-content-box{
    width:100%; 
    /* margin-top:6rem;  */
    /* margin-bottom:4rem; */
    margin-right:auto;
    margin-left:auto;
    background-color:#F7F8FC

} 
.footer-bottom-content{
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    /* margin-top:6rem; */
    margin-bottom:1rem; 
    margin-right:auto;
    margin-left:auto;
    padding-top:14rem;
}
.footer-heading-mail{
    width:50%;
margin:0rem auto;
display:flex;
    flex-direction:column;
    align-items:center ;
    position: relative;
    
}
.footer-container-box{
    /* width:80%;  */
    margin:0rem auto;
}
.footer-heading{
    text-align:center;
    color: #FFFFFF;
    /* margin:rem auto; */
    margin-bottom:3rem;
    font-size:3rem;
}
.footer-mail{
    width:100%;
    background-color: #F7F8FC;
    display:flex;
    flex-direction:row;
    font-family: "Poppins", sans-serif;
    font-size:1rem;
    margin-bottom:3rem;
    padding:1rem;
    justify-content: space-between;
align-items: center;
z-index:2;
border-radius:3%;
/* z-index:2; */
    
}
.footer-mail p{
    color:#999999;
    z-index:2;

}
.footer-eclipse{
position:absolute; 
bottom:0%;
 justify-content: start;
align-content:start; 

}
.footer-logo-para{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.footer-Trabook{
width:25%;

}
.footer-Trabook h6{
    font-size: 1.5rem;
    }
    .footer-Trabook p{
    font-size:1rem;
    color: #666666;
    font-family: "Poppins", sans-serif;
   
    }
    .footer-Trabook img{
        margin-top:1rem;
        }
        
        .footer-menu{
            display:flex;
            flex-direction: column;
            /* padding:3rem; */
            margin-left:8rem;
        }
        .footer-menu h6{
            font-size: 1.125rem;
            margin-bottom:1rem;
        }
        .footer-menu p{
            font-size: 1.125rem;
            color:#999999;
            line-height: 2rem;
        }
        .footer-menu-box{
            display:flex;
            flex-direction: row;
            font-family: "Poppins", sans-serif;
            margin-top:1rem;
           
        }
        .footer-Trabook-heading{
            font-family: "Volkhov", serif;
            font-size: 1.5rem;
            display:flex;
            flex-direction: row;
            justify-content:start;
            margin-bottom:1rem;
            align-items: center;
        }
        /* .footer-Trabook-image {
            align-items: center;
        } */
        .footer-Trabook-heading img{
            margin-left: 1rem;
        }
        .copyrights{
            width:80%;
            /* color:#999999; */
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            margin:2rem auto;
            color: #666666;
    font-family: "Poppins", sans-serif;
        }
        .copyrights-color {
margin-bottom:2rem;
        }
 